/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
    background: #080808;
    color: #fff;
}

div#header {
    background-image: url('bg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

#logo > span:nth-child(1) {
    color: #ffee00;
}

#header > div.orbitron-one.container {
    padding: 0;
    margin: 10px;
    width: 100%;
    height: 100vh;
    position: relative;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
}

#header > div.orbitron-one.container > img.dan-pic {
    border: solid;
    border-color: #e7dc48bd;
    border-width: 3px;
    border-radius: 50%;
    width: 600px;
    height: 625px;
    position: absolute;
    top: 20%;
    right: 5%;
    transform: rotate(-2deg);
}

#header > div.orbitron-one.container > h1 {
    position: absolute;
    top: 25%;
    margin-left: 100px;
}

#menu-list {
    font-size: 28px;
}
.stalinist-one-regular {
    font-family: "Stalinist One";
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 20px;
    padding-left: 50px;
    color: #dfbd00e5;
}
.material-symbols-sharp{
    color: #e4af00;
    position: absolute;
    right: 5%;
    top: 2%;
    padding: 15px;

}
.orbitron-one {
    font-family: "Orbitron";
    width: 80%;
    margin-left: 100px;
    font-size: xx-large;
    font-weight: bold;
    padding: 10%;
}

.container {
    display: flex;
    justify-content: space-between;

}

h1 > .stalinist-one-regular {
    font-weight: 900;
    font-size: xx-large;
    font-style: normal;
    font-size: 100%;

}
.menu-icon {
    cursor: pointer;
    color: #c9ac0a;
}
.close-icon .material-symbols-sharp {
    cursor: pointer;
}

.menu-list {
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    background-color: #b97e0021;
    position: absolute;
    width: 80%;
    top: 2%;
    right: 2%;
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 5px;
}
span.material-symbols-sharp.close-icon {
    cursor: pointer;
    position: absolute;
    font-size: x-large;
    font-weight: 700;
    color: #ffffff;
    background: none;
    top: 1%;
    right: 1%;
    padding-right: 1%;
    padding-top: 1%;
    
}
div.menu-list a {
    padding: 30px;
    padding-bottom: 15px;
    padding-left: 5%;
    padding-top: 20px;
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    color: #e2ae3e;
    display: flex;
    justify-content: space-between;
}
div.menu-list a:hover {
    border-bottom: 5px;
    border-color: #ffffff;
    text-decoration: none;
    color: #dee946;
    font-size: larger;
    font-weight: 700;
}
div#menu-list.menu-list {
    transition: top 0.5s;
}
h3{
    padding-left: 10px;
    padding-right: 200px;
    font-weight: 400;
}